air-pi/node-red/SensorChatbot.flow
[
    {
        "id": "629f0cab.9661bc",
        "type": "tab",
        "label": "SensorChatbot"
    },
    {
        "id": "1966deaf.a7dc49",
        "type": "telegram receiver",
        "z": "629f0cab.9661bc",
        "name": "",
        "bot": "a02ad8d9.0de8a",
        "x": 128.44451904296875,
        "y": 354.22222900390625,
        "wires": [
            [
                "72f21917.829f58"
            ],
            [
                "72f21917.829f58"
            ]
        ]
    },
    {
        "id": "785bfe4b.2a7da",
        "type": "telegram sender",
        "z": "629f0cab.9661bc",
        "name": "",
        "bot": "a02ad8d9.0de8a",
        "x": 1169.5,
        "y": 194,
        "wires": [
            []
        ]
    },
    {
        "id": "fde578fe.2d8fe8",
        "type": "function",
        "z": "629f0cab.9661bc",
        "name": "Check AQI",
        "func": "var aq = msg.payload;\n\nif (aq.max > 4) {\n    msg.payload = \"Air quality is critical\";\n} else if (aq.max > 3) {\n    msg.payload = \"Maybe open the window\";\n} else if (aq.max > 2) {\n    msg.payload = \"Air quality is getting worse\";\n} else {\n    msg.payload = \"Air quality is good\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 406.5,
        "y": 195.75,
        "wires": [
            [
                "8a1ce504.3d863",
                "442e4462.324434"
            ]
        ]
    },
    {
        "id": "485473ad.8bd9bc",
        "type": "debug",
        "z": "629f0cab.9661bc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1134,
        "y": 154,
        "wires": []
    },
    {
        "id": "ca61ad3b.c95fb",
        "type": "telegram sender",
        "z": "629f0cab.9661bc",
        "name": "",
        "bot": "a02ad8d9.0de8a",
        "x": 1140.2222900390625,
        "y": 353.3333435058594,
        "wires": [
            []
        ]
    },
    {
        "id": "4aef8c7f.55e6c4",
        "type": "mqtt in",
        "z": "629f0cab.9661bc",
        "name": "",
        "topic": "aq-processed",
        "qos": "0",
        "broker": "eb95d7ca.385e38",
        "x": 107.5,
        "y": 195.25,
        "wires": [
            [
                "de49deb2.37e06",
                "519c0383.bd8884"
            ]
        ]
    },
    {
        "id": "de49deb2.37e06",
        "type": "debug",
        "z": "629f0cab.9661bc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 267,
        "y": 152,
        "wires": []
    },
    {
        "id": "519c0383.bd8884",
        "type": "json",
        "z": "629f0cab.9661bc",
        "name": "",
        "x": 265,
        "y": 196,
        "wires": [
            [
                "fde578fe.2d8fe8"
            ]
        ]
    },
    {
        "id": "3a848316.90c9dc",
        "type": "sqlite",
        "z": "629f0cab.9661bc",
        "mydb": "cafc488c.d5056",
        "name": "SensorDB",
        "x": 523.2222900390625,
        "y": 354.3333435058594,
        "wires": [
            [
                "a7f490f9.f7afa8",
                "b302f107.c95a58"
            ]
        ]
    },
    {
        "id": "a7f490f9.f7afa8",
        "type": "debug",
        "z": "629f0cab.9661bc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 701.2222900390625,
        "y": 400.3333740234375,
        "wires": []
    },
    {
        "id": "72f21917.829f58",
        "type": "function",
        "z": "629f0cab.9661bc",
        "name": "SELECT LAST",
        "func": "var msg = {};\nmsg.topic = \"SELECT * FROM sensors ORDER BY id DESC LIMIT 1;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 339.6111145019531,
        "y": 354.08331298828125,
        "wires": [
            [
                "3a848316.90c9dc"
            ]
        ]
    },
    {
        "id": "460184ff.73d62c",
        "type": "inject",
        "z": "629f0cab.9661bc",
        "name": "SELECT LAST",
        "topic": "SELECT * FROM sensors ORDER BY id DESC LIMIT 1;",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 338.2222900390625,
        "y": 399.3333435058594,
        "wires": [
            [
                "3a848316.90c9dc"
            ]
        ]
    },
    {
        "id": "5898ad1d.240f6c",
        "type": "function",
        "z": "629f0cab.9661bc",
        "name": "Prepare message",
        "func": "var aq = msg.payload;\n\nvar response = {};\nresponse.payload = {};\nresponse.payload.content = JSON.stringify(aq);\nresponse.payload.chatId = \"11192536\";\nresponse.payload.type = \"message\";\nreturn response;",
        "outputs": 1,
        "noerr": 0,
        "x": 921.2222900390625,
        "y": 353.3333435058594,
        "wires": [
            [
                "ca61ad3b.c95fb",
                "9294db3a.af75c8"
            ]
        ]
    },
    {
        "id": "9294db3a.af75c8",
        "type": "debug",
        "z": "629f0cab.9661bc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1122.2222900390625,
        "y": 400.3333740234375,
        "wires": []
    },
    {
        "id": "8a1ce504.3d863",
        "type": "rbe",
        "z": "629f0cab.9661bc",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 575,
        "y": 194,
        "wires": [
            [
                "15b888c2.4777e7"
            ]
        ]
    },
    {
        "id": "4c878b37.b8d81c",
        "type": "function",
        "z": "629f0cab.9661bc",
        "name": "Create Telegram msg",
        "func": "var notify = {};\n\nnotify.payload = {};\nnotify.payload.content = msg.payload;\nnotify.payload.chatId = \"11192536\";\nnotify.payload.type = \"message\";\n\nreturn notify;",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 194,
        "wires": [
            [
                "485473ad.8bd9bc",
                "785bfe4b.2a7da"
            ]
        ]
    },
    {
        "id": "442e4462.324434",
        "type": "debug",
        "z": "629f0cab.9661bc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 575,
        "y": 150,
        "wires": []
    },
    {
        "id": "15b888c2.4777e7",
        "type": "delay",
        "z": "629f0cab.9661bc",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "5",
        "nbRateUnits": "2",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 733.2333984375,
        "y": 193.8333282470703,
        "wires": [
            [
                "4c878b37.b8d81c"
            ]
        ]
    },
    {
        "id": "b302f107.c95a58",
        "type": "function",
        "z": "629f0cab.9661bc",
        "name": "Filter data",
        "func": "var aq = msg.payload[0];\ndelete aq.id;\ndelete aq.iaqs;\n\nmsg.payload = aq;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 699,
        "y": 354,
        "wires": [
            [
                "5898ad1d.240f6c",
                "e8958844.b699b"
            ]
        ]
    },
    {
        "id": "e8958844.b699b",
        "type": "debug",
        "z": "629f0cab.9661bc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 907,
        "y": 400,
        "wires": []
    },
    {
        "id": "a02ad8d9.0de8a",
        "type": "telegram bot",
        "z": "",
        "botname": "AirBot",
        "usernames": "",
        "chatids": ""
    },
    {
        "id": "eb95d7ca.385e38",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "cafc488c.d5056",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/nodered/db/aq.db"
    }
]
