node-red/Dashboard.flow
[
    {
        "id": "1cf74b1b.bdb1ed",
        "type": "tab",
        "label": "Dashboard"
    },
    {
        "id": "b611ab4a.c7c3e8",
        "type": "mqtt in",
        "z": "1cf74b1b.bdb1ed",
        "name": "",
        "topic": "aq-processed",
        "qos": "0",
        "broker": "c1cf7c8d.ce2c38",
        "x": 122,
        "y": 181,
        "wires": [
            [
                "cc1de3b.91b2ea"
            ]
        ]
    },
    {
        "id": "c3d8471.e680b38",
        "type": "mqtt in",
        "z": "1cf74b1b.bdb1ed",
        "name": "Sensor values",
        "topic": "aq-raw",
        "qos": "0",
        "broker": "c1cf7c8d.ce2c38",
        "x": 118,
        "y": 467,
        "wires": [
            [
                "af15e65d.9c9d48"
            ]
        ]
    },
    {
        "id": "6d8dfb63.733b34",
        "type": "debug",
        "z": "1cf74b1b.bdb1ed",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 621.4999847412109,
        "y": 77,
        "wires": []
    },
    {
        "id": "9683e0e.71cd9a",
        "type": "ui_gauge",
        "z": "1cf74b1b.bdb1ed",
        "name": "",
        "group": "4cc550be.abd42",
        "order": 1,
        "width": "10",
        "height": "4",
        "gtype": "gage",
        "title": "Current",
        "label": "",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 969.4999847412109,
        "y": 134,
        "wires": []
    },
    {
        "id": "e249f677.d1cdb",
        "type": "json",
        "z": "1cf74b1b.bdb1ed",
        "name": "",
        "x": 464,
        "y": 181,
        "wires": [
            [
                "54f07d17.4842ec",
                "6767712d.ad5ae8",
                "6d8dfb63.733b34",
                "336300cd.406c5"
            ]
        ]
    },
    {
        "id": "54f07d17.4842ec",
        "type": "function",
        "z": "1cf74b1b.bdb1ed",
        "name": "AirQualityStats",
        "func": "var valMax = {payload: msg.payload.max};\nvar valType = {payload: msg.payload.type};\n\nreturn [valMax, valType];",
        "outputs": "2",
        "noerr": 0,
        "x": 649.4999847412109,
        "y": 135,
        "wires": [
            [
                "9683e0e.71cd9a",
                "ae352372.1f3c"
            ],
            [
                "470fed81.f87a74"
            ]
        ]
    },
    {
        "id": "ae352372.1f3c",
        "type": "debug",
        "z": "1cf74b1b.bdb1ed",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 989.4999847412109,
        "y": 89,
        "wires": []
    },
    {
        "id": "6767712d.ad5ae8",
        "type": "function",
        "z": "1cf74b1b.bdb1ed",
        "name": "Processed",
        "func": "var msgs = [];\nfor (var key in msg.payload) {\n    if (typeof(msg.payload[key]) === 'object' && \"processed\" in msg.payload[key]) {\n        var newmsg = {};\n        newmsg.payload = msg.payload[key].processed;\n        newmsg.topic = key\n        msgs.push(newmsg);\n    }\n}\n\nmsg.payload = msgs;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 645,
        "y": 233,
        "wires": [
            [
                "3997464e.37de7a"
            ]
        ]
    },
    {
        "id": "68f4db75.56a79c",
        "type": "ui_chart",
        "z": "1cf74b1b.bdb1ed",
        "name": "",
        "group": "4cc550be.abd42",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "History",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "0",
        "ymax": "5",
        "removeOlder": "1",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "x": 968.9999847412109,
        "y": 233,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6e2a60b.1b08d2",
        "type": "json",
        "z": "1cf74b1b.bdb1ed",
        "name": "",
        "x": 464,
        "y": 467,
        "wires": [
            [
                "cb4f96be.e2b1d8",
                "6d388ae.8501a74",
                "ae149e1f.90f2a8"
            ]
        ]
    },
    {
        "id": "cc1de3b.91b2ea",
        "type": "delay",
        "z": "1cf74b1b.bdb1ed",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 313.5,
        "y": 181,
        "wires": [
            [
                "e249f677.d1cdb"
            ]
        ]
    },
    {
        "id": "cb4f96be.e2b1d8",
        "type": "debug",
        "z": "1cf74b1b.bdb1ed",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 631.5,
        "y": 377,
        "wires": []
    },
    {
        "id": "af15e65d.9c9d48",
        "type": "delay",
        "z": "1cf74b1b.bdb1ed",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 308,
        "y": 467,
        "wires": [
            [
                "6e2a60b.1b08d2"
            ]
        ]
    },
    {
        "id": "6d388ae.8501a74",
        "type": "function",
        "z": "1cf74b1b.bdb1ed",
        "name": "TempHumPres",
        "func": "var msgs = [];\nvar payload = msg.payload;\n\naddMsg(\"temperature\");\naddMsg(\"humidity\");\naddMsg(\"pressure\");\n\nreturn msgs;\n\n\nfunction addMsg(key) {\n    if (key in msg.payload) {\n        var newmsg = {};\n        newmsg.topic = key;\n        newmsg.payload = msg.payload[key];\n        msgs.push(newmsg);\n    }\n}",
        "outputs": "3",
        "noerr": 0,
        "x": 643,
        "y": 466,
        "wires": [
            [
                "5c65ebd2.a76ce4"
            ],
            [
                "d12e30d7.30893",
                "df77c8e8.20d518"
            ],
            [
                "f3254e9b.3907f"
            ]
        ]
    },
    {
        "id": "df77c8e8.20d518",
        "type": "debug",
        "z": "1cf74b1b.bdb1ed",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 967.9999847412109,
        "y": 368,
        "wires": []
    },
    {
        "id": "5c65ebd2.a76ce4",
        "type": "ui_chart",
        "z": "1cf74b1b.bdb1ed",
        "name": "Temperature",
        "group": "7950bdbf.f4d24c",
        "order": 0,
        "width": "10",
        "height": "5",
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "x": 990.4999847412109,
        "y": 418,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d12e30d7.30893",
        "type": "ui_chart",
        "z": "1cf74b1b.bdb1ed",
        "name": "Humidity",
        "group": "7950bdbf.f4d24c",
        "order": 0,
        "width": "10",
        "height": "5",
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "x": 979.9999847412109,
        "y": 463,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ae149e1f.90f2a8",
        "type": "function",
        "z": "1cf74b1b.bdb1ed",
        "name": "AQ",
        "func": "var msgs = [];\nvar payload = msg.payload;\n\naddMsg(\"mq135\");\naddMsg(\"co2\");\naddMsg(\"tvoc\");\n\nmsg.payload = msgs;\nreturn msg;\n\n\nfunction addMsg(key) {\n    if (key in msg.payload) {\n        var newmsg = {};\n        newmsg.topic = key;\n        newmsg.payload = msg.payload[key];\n        msgs.push(newmsg);\n    }\n}",
        "outputs": "1",
        "noerr": 0,
        "x": 614,
        "y": 572,
        "wires": [
            [
                "a6342432.6d7738"
            ]
        ]
    },
    {
        "id": "26fe2668.7e7c92",
        "type": "ui_chart",
        "z": "1cf74b1b.bdb1ed",
        "name": "AQ",
        "group": "aaa4bad0.887e08",
        "order": 0,
        "width": "10",
        "height": "11",
        "label": "Components",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "x": 963.9999847412109,
        "y": 572.0000305175781,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f3254e9b.3907f",
        "type": "ui_text",
        "z": "1cf74b1b.bdb1ed",
        "group": "7950bdbf.f4d24c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pressure",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-left",
        "x": 976.4999847412109,
        "y": 510,
        "wires": []
    },
    {
        "id": "336300cd.406c5",
        "type": "function",
        "z": "1cf74b1b.bdb1ed",
        "name": "TRH",
        "func": "var trh = msg.payload.trh;\n\nmsg = {};\nmsg.topic = 'perceived';\nmsg.payload = trh.raw;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 624.5,
        "y": 280,
        "wires": [
            [
                "5c65ebd2.a76ce4"
            ]
        ]
    },
    {
        "id": "470fed81.f87a74",
        "type": "ui_text",
        "z": "1cf74b1b.bdb1ed",
        "group": "4cc550be.abd42",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Highest Value",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 997.8957977294922,
        "y": 177.88888549804688,
        "wires": []
    },
    {
        "id": "3997464e.37de7a",
        "type": "function",
        "z": "1cf74b1b.bdb1ed",
        "name": "Sort",
        "func": "var sortIndexes = {'mq':0,'co2':1,'tvoc':2,'trh':3};\n\nvar values = msg.payload;\n\nvalues.sort(function(a, b) {\n    return sortIndexes[a.topic] - sortIndexes[b.topic];\n});\n\n\nreturn [values];",
        "outputs": 1,
        "noerr": 0,
        "x": 818.2743988037109,
        "y": 232.15628051757812,
        "wires": [
            [
                "68f4db75.56a79c",
                "c00f3ac7.1c45b8"
            ]
        ]
    },
    {
        "id": "a6342432.6d7738",
        "type": "function",
        "z": "1cf74b1b.bdb1ed",
        "name": "Sort",
        "func": "var sortIndexes = {'mq135':0,'co2':1,'tvoc':2,'trh':3};\n\nvar values = msg.payload;\n\nvalues.sort(function(a, b) {\n    return sortIndexes[a.topic] - sortIndexes[b.topic];\n});\n\n\nreturn [values];",
        "outputs": 1,
        "noerr": 0,
        "x": 781.8957977294922,
        "y": 570.8889465332031,
        "wires": [
            [
                "26fe2668.7e7c92",
                "c6f272ba.ebcd4"
            ]
        ]
    },
    {
        "id": "c6f272ba.ebcd4",
        "type": "debug",
        "z": "1cf74b1b.bdb1ed",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 960.8958129882812,
        "y": 619.888916015625,
        "wires": []
    },
    {
        "id": "c00f3ac7.1c45b8",
        "type": "debug",
        "z": "1cf74b1b.bdb1ed",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 968.8958587646484,
        "y": 280.8888854980469,
        "wires": []
    },
    {
        "id": "c1cf7c8d.ce2c38",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "4cc550be.abd42",
        "type": "ui_group",
        "z": "",
        "name": "Air Quality Index",
        "tab": "cca8d37e.a1fb18",
        "disp": true,
        "width": "10"
    },
    {
        "id": "7950bdbf.f4d24c",
        "type": "ui_group",
        "z": "",
        "name": "Climate",
        "tab": "cca8d37e.a1fb18",
        "disp": true,
        "width": "10"
    },
    {
        "id": "aaa4bad0.887e08",
        "type": "ui_group",
        "z": "",
        "name": "Gas",
        "tab": "cca8d37e.a1fb18",
        "disp": true,
        "width": "10"
    },
    {
        "id": "cca8d37e.a1fb18",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]