node-red/SensorAnalyzer.flow
[
    {
        "id": "f5e26680.dc8c1",
        "type": "mqtt in",
        "z": "a4031254.d54bd",
        "name": "Sensor values",
        "topic": "aq-raw",
        "qos": "0",
        "broker": "c1cf7c8d.ce2c38",
        "x": 96.5,
        "y": 349,
        "wires": [
            [
                "d0a90eda.88c46"
            ]
        ]
    },
    {
        "id": "7c0bd638.f47248",
        "type": "function",
        "z": "a4031254.d54bd",
        "name": "MQ135 Analzyer",
        "func": "if (msg.payload === undefined) {\n    return null;\n}\nvar mqVal = parseInt(msg.payload);\nvar mqStatus = 0;\n\n//Analyzing values\n//mqStatus = (5 * mqVal) / 1024;\nvar intervals = [50, 150, 350, 600, 1023];\nvar analysisFn = flow.get(\"analysis-fn\");\nif (analysisFn === undefined) {\n    return null;\n}\n\nmqStatus = analysisFn(mqVal, intervals);\n\nmsg.payload = {};\nmsg.payload.raw = mqVal;\nmsg.payload.type = 'mq';\nmsg.payload.processed = mqStatus;\n\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 746,
        "y": 424,
        "wires": [
            [
                "c4e70eb7.50634",
                "d83bc164.ed444"
            ]
        ]
    },
    {
        "id": "16aa8a81.805e45",
        "type": "function",
        "z": "a4031254.d54bd",
        "name": "Temp & RH Analyzer",
        "func": "if (msg.payload === undefined) {\n    return null;\n}\nvar rh = parseFloat(msg.payload.rh) / 100;\nvar temp = parseFloat(msg.payload.temp);\n\nvar dewPoint = Math.pow(rh, 1 / 8) * (112 + 0.9 * temp) + 0.1 * temp - 112;\nvar expIndex = 5417.753 * ((1 / 273.16) - (1 / (dewPoint + 273.16)));\nvar humidex = temp + 0.5555 * (6.11 * Math.exp(expIndex) - 10);\n\n//Convert to 1-5 scala\nvar integer = parseInt(humidex / 10) - 1;\nif (integer < 0) {\n    integer = 0;\n}\nvar decimal = humidex % 10;\nvar convertedValue = integer + (decimal / 10);\n\nmsg.payload.raw = humidex;\nmsg.payload.type = 'trh';\nmsg.payload.processed = convertedValue;\n\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 765,
        "y": 378,
        "wires": [
            [
                "d83bc164.ed444"
            ]
        ]
    },
    {
        "id": "486f2e44.64761",
        "type": "function",
        "z": "a4031254.d54bd",
        "name": "Raw Values Split",
        "func": "var rh = msg.payload.humidity;\nvar temp = msg.payload.temperature;\nvar rht = {rh: rh, temp: temp};\nvar mq = msg.payload.mq135;\nvar co2 = msg.payload.co2;\nvar tvoc = msg.payload.tvoc;\n\nvar rhtPayload = (rht.temp !== undefined)?{payload: rht}:null;\nvar mqPayload = (mq !== undefined)?{payload: mq}:null;\nvar co2Payload = (co2 !== undefined)?{payload: co2}:null;\nvar tvocPayload = (tvoc !== undefined)?{payload: tvoc}:null;\n\nreturn [rhtPayload, mqPayload, co2Payload, tvocPayload];",
        "outputs": "4",
        "noerr": 0,
        "x": 521.5,
        "y": 443,
        "wires": [
            [
                "16aa8a81.805e45"
            ],
            [
                "7c0bd638.f47248"
            ],
            [
                "b2677329.46274"
            ],
            [
                "499c80cf.59b5f"
            ]
        ]
    },
    {
        "id": "ffc8b9b6.541648",
        "type": "debug",
        "z": "a4031254.d54bd",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 520.5,
        "y": 347,
        "wires": []
    },
    {
        "id": "d0a90eda.88c46",
        "type": "json",
        "z": "a4031254.d54bd",
        "name": "",
        "x": 290.5,
        "y": 348,
        "wires": [
            [
                "486f2e44.64761",
                "ffc8b9b6.541648"
            ]
        ]
    },
    {
        "id": "c4e70eb7.50634",
        "type": "debug",
        "z": "a4031254.d54bd",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1014.5,
        "y": 385,
        "wires": []
    },
    {
        "id": "a4e3f6a3.1017e8",
        "type": "rpi-neopixels",
        "z": "a4031254.d54bd",
        "name": "",
        "pixels": "8",
        "bgnd": "0,7,0,0,0",
        "fgnd": "",
        "wipe": "1",
        "mode": "pcentneedle",
        "rgb": "rgb",
        "x": 1725,
        "y": 439,
        "wires": []
    },
    {
        "id": "8ac63d1e.0a596",
        "type": "function",
        "z": "a4031254.d54bd",
        "name": "Ambient Light Controller",
        "func": "var green = \"0,7,0,100,0\";\nvar yellow = \"0,7,100,100,0\";\nvar orange = \"0,7,100,60,0\";\nvar red = \"0,7,100,0,0\";\nvar inactive = \"0,7,0,0,0\";\n\nvar curStatus = msg.payload.max;\nvar r = 255;\nvar g = 255;\nvar b = 255;\nvar tmp = 0;\n\nif (curStatus >= 0 && curStatus < 1) {\n    r = 0;\n    b = 0;\n} else if (curStatus < 2) {\n    r *= (curStatus - 1);\n    b = 0;\n} else if (curStatus < 3) {\n    tmp = (curStatus - 2);\n    g -= (g * tmp * 0.4);\n    b = 0;\n} else if (curStatus < 4) {\n    tmp = 1 - (curStatus - 3);\n    g *= (tmp * 0.6);\n    b = 0;\n} else if (curStatus < 5) {\n    g = 0;\n    b = 0;\n} else {\n    r = 0;\n    g = 0;\n    b = 0;\n}\n\nmsg.payload = \"0,7,\"+parseInt(r)+\",\"+parseInt(g)+\",\"+parseInt(b);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1471.5,
        "y": 440,
        "wires": [
            [
                "a4e3f6a3.1017e8",
                "e24df9f1.a60658"
            ]
        ]
    },
    {
        "id": "e24df9f1.a60658",
        "type": "debug",
        "z": "a4031254.d54bd",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1707.5,
        "y": 375,
        "wires": []
    },
    {
        "id": "5ec09ada.d696c4",
        "type": "debug",
        "z": "a4031254.d54bd",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1410,
        "y": 485,
        "wires": []
    },
    {
        "id": "d83bc164.ed444",
        "type": "function",
        "z": "a4031254.d54bd",
        "name": "Value Join",
        "func": "var trh = context.get('trh')||{raw:0,processed:0};\nvar mq = context.get('mq')||{raw:0,processed:0};\nvar co2 = context.get('co2')||{raw:0,processed:0};\nvar tvoc = context.get('tvoc')||{raw:0,processed:0};\n\nif (msg.payload.type == 'trh') {\n    trh = msg.payload;\n    delete trh.type;\n    context.set('trh', trh);\n} else if (msg.payload.type == 'mq') {\n    mq = msg.payload;\n    delete mq.type;\n    context.set('mq', mq);\n} else if (msg.payload.type == 'co2') {\n    co2 = msg.payload;\n    delete co2.type;\n    context.set('co2', co2);\n} else if (msg.payload.type == 'tvoc') {\n    tvoc = msg.payload;\n    delete tvoc.type;\n    context.set('tvoc', tvoc);\n}\n\nmsg = {};\nmsg.payload = {};\nmsg.payload.trh = trh;\nmsg.payload.mq = mq;\nmsg.payload.co2 = co2;\nmsg.payload.tvoc = tvoc;\nmsg.payload.max = Math.max(trh.processed, mq.processed, co2.processed, tvoc.processed);\nif (msg.payload.max == trh.processed) {\n    msg.payload.type = \"trh\";\n} else if (msg.payload.max == mq.processed) {\n    msg.payload.type = \"mq\";\n} else if (msg.payload == co2.processed) {\n    msg.payload.type = \"co2\";\n} else {\n    msg.payload.type = \"tvoc\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1031.5,
        "y": 446,
        "wires": [
            [
                "f5dfedf8.311818"
            ]
        ]
    },
    {
        "id": "fc05e188.af63e",
        "type": "mqtt out",
        "z": "a4031254.d54bd",
        "name": "",
        "topic": "aq-processed",
        "qos": "0",
        "retain": "false",
        "broker": "c1cf7c8d.ce2c38",
        "x": 1442.5,
        "y": 394,
        "wires": []
    },
    {
        "id": "b2677329.46274",
        "type": "function",
        "z": "a4031254.d54bd",
        "name": "CO2 Analzyer",
        "func": "if (msg.payload === undefined) {\n    return null;\n}\nvar co2Val = parseInt(msg.payload);\nvar co2Status = 0;\n\n//Analyzing values\n//Value range 450 - 2000 ppm\nvar intervals = [450, 550, 800, 1500, 2000];\nvar analysisFn = flow.get(\"analysis-fn\");\nif (analysisFn === undefined) {\n    return null;\n}\n\nco2Status = analysisFn(co2Val, intervals);\n\nmsg.payload = {};\nmsg.payload.raw = co2Val;\nmsg.payload.type = \"co2\";\nmsg.payload.processed = co2Status;\n\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 747,
        "y": 469,
        "wires": [
            [
                "d83bc164.ed444",
                "18e9b99c.98b016"
            ]
        ]
    },
    {
        "id": "499c80cf.59b5f",
        "type": "function",
        "z": "a4031254.d54bd",
        "name": "TVOC Analzyer",
        "func": "if (msg.payload === undefined) {\n    return null;\n}\nvar vocVal = msg.payload;\nvar vocStatus = 0;\n\n//Analyzing values\n//Value range 125 - 600 ppb\nvar intervals = [125, 200, 300, 400, 600];\nvar analysisFn = flow.get(\"analysis-fn\");\nif (analysisFn === undefined) {\n    return null;\n}\n\nvocStatus = analysisFn(vocVal, intervals);\n\nmsg.payload = {};\nmsg.payload.raw = vocVal;\nmsg.payload.type = \"tvoc\";\nmsg.payload.processed = vocStatus;\n\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 747,
        "y": 519,
        "wires": [
            [
                "d83bc164.ed444",
                "1febff42.b20141"
            ]
        ]
    },
    {
        "id": "18e9b99c.98b016",
        "type": "debug",
        "z": "a4031254.d54bd",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 990,
        "y": 506,
        "wires": []
    },
    {
        "id": "1febff42.b20141",
        "type": "debug",
        "z": "a4031254.d54bd",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 983,
        "y": 562,
        "wires": []
    },
    {
        "id": "f5dfedf8.311818",
        "type": "delay",
        "z": "a4031254.d54bd",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1204,
        "y": 443,
        "wires": [
            [
                "8ac63d1e.0a596",
                "fc05e188.af63e",
                "5ec09ada.d696c4"
            ]
        ]
    },
    {
        "id": "d6e0452e.57c0c8",
        "type": "function",
        "z": "a4031254.d54bd",
        "name": "Global Deployment",
        "func": "var fn = function analyzeValue(value, intervals) {\n\tvar status = 0;\n\tvar previousInterval = 0;\n\tfor (var i in intervals) {\n\t\tif (value <= intervals[i]) {\n\t\t\tvar span = (intervals[i] - previousInterval);\n\t\t\tstatus = parseInt(i) + parseFloat((value - previousInterval) / span);\n\t\t\tbreak;\n\t\t}\n\t\tpreviousInterval = intervals[i];\n\t}\n\treturn status;\n};\n\nnode.warn(\"Flow set\");\n\nflow.set(\"analysis-fn\",fn);",
        "outputs": 1,
        "noerr": 0,
        "x": 326.5,
        "y": 171,
        "wires": [
            []
        ]
    },
    {
        "id": "c8176c77.d51b8",
        "type": "inject",
        "z": "a4031254.d54bd",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 104.5,
        "y": 171,
        "wires": [
            [
                "d6e0452e.57c0c8"
            ]
        ]
    },
    {
        "id": "c1cf7c8d.ce2c38",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]