node-red/SensorChatbot.flow
[
    {
        "id": "18b5eed9.ba3b09",
        "type": "tab",
        "label": "SensorChatbot"
    },
    {
        "id": "75ef9c7a.7a0dac",
        "type": "telegram receiver",
        "z": "18b5eed9.ba3b09",
        "name": "",
        "bot": "e1b6579b.b56d58",
        "x": 138.44451904296875,
        "y": 446.22222900390625,
        "wires": [
            [],
            [
                "d2688f24.7aa438"
            ]
        ]
    },
    {
        "id": "27bceb42.b4850c",
        "type": "telegram sender",
        "z": "18b5eed9.ba3b09",
        "name": "",
        "bot": "e1b6579b.b56d58",
        "x": 1169.5,
        "y": 194,
        "wires": [
            []
        ]
    },
    {
        "id": "bae320c.f307de",
        "type": "function",
        "z": "18b5eed9.ba3b09",
        "name": "Check AQI",
        "func": "var aq = msg.payload;\n\nif (aq.max > 4) {\n    msg.payload = \"Air quality is critical\";\n} else if (aq.max > 3) {\n    msg.payload = \"Maybe open the window\";\n} else if (aq.max > 2) {\n    msg.payload = \"Air quality is getting worse\";\n} else {\n    msg.payload = \"Air quality is good\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 406.5,
        "y": 195.75,
        "wires": [
            [
                "e8b8d0aa.98c8d8",
                "3b6fb8e.5bbaec8"
            ]
        ]
    },
    {
        "id": "46a8e7bb.de16c",
        "type": "debug",
        "z": "18b5eed9.ba3b09",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1134,
        "y": 154,
        "wires": []
    },
    {
        "id": "317976e8.a05802",
        "type": "telegram sender",
        "z": "18b5eed9.ba3b09",
        "name": "",
        "bot": "e1b6579b.b56d58",
        "x": 948.2222900390625,
        "y": 341.3333435058594,
        "wires": [
            []
        ]
    },
    {
        "id": "11565519.958a9b",
        "type": "mqtt in",
        "z": "18b5eed9.ba3b09",
        "name": "",
        "topic": "aq-processed",
        "qos": "0",
        "broker": "c1cf7c8d.ce2c38",
        "x": 107.5,
        "y": 195.25,
        "wires": [
            [
                "6c56ef09.0bc868",
                "c5a6db15.d73e88"
            ]
        ]
    },
    {
        "id": "6c56ef09.0bc868",
        "type": "debug",
        "z": "18b5eed9.ba3b09",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 267,
        "y": 152,
        "wires": []
    },
    {
        "id": "c5a6db15.d73e88",
        "type": "json",
        "z": "18b5eed9.ba3b09",
        "name": "",
        "x": 265,
        "y": 196,
        "wires": [
            [
                "bae320c.f307de"
            ]
        ]
    },
    {
        "id": "d491dbd4.9aa5f",
        "type": "sqlite",
        "z": "18b5eed9.ba3b09",
        "mydb": "80bcdc23.753798",
        "name": "SensorDB",
        "x": 527.2222900390625,
        "y": 423.3333435058594,
        "wires": [
            [
                "8d5a1b5f.68b4e",
                "f5d6f96d.113198"
            ]
        ]
    },
    {
        "id": "8d5a1b5f.68b4e",
        "type": "debug",
        "z": "18b5eed9.ba3b09",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 700.2222900390625,
        "y": 472.3333435058594,
        "wires": []
    },
    {
        "id": "d2688f24.7aa438",
        "type": "function",
        "z": "18b5eed9.ba3b09",
        "name": "SELECT LAST",
        "func": "var msg = {};\nmsg.topic = \"SELECT * FROM sensors ORDER BY id DESC LIMIT 1;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 352.6111145019531,
        "y": 454.08331298828125,
        "wires": [
            [
                "d491dbd4.9aa5f"
            ]
        ]
    },
    {
        "id": "4609e6cb.709898",
        "type": "inject",
        "z": "18b5eed9.ba3b09",
        "name": "SELECT LAST",
        "topic": "SELECT * FROM sensors ORDER BY id DESC LIMIT 1;",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 355.2222900390625,
        "y": 393.3333435058594,
        "wires": [
            [
                "d491dbd4.9aa5f"
            ]
        ]
    },
    {
        "id": "f5d6f96d.113198",
        "type": "function",
        "z": "18b5eed9.ba3b09",
        "name": "Prepare message",
        "func": "var aq = msg.payload[0];\n\nvar response = {};\nresponse.payload = {};\nresponse.payload.content = JSON.stringify(aq);\nresponse.payload.chatId = \"11192536\";\nresponse.payload.type = \"message\";\nreturn response;",
        "outputs": 1,
        "noerr": 0,
        "x": 719.2222900390625,
        "y": 381.3333435058594,
        "wires": [
            [
                "317976e8.a05802",
                "9305e2fd.a800e"
            ]
        ]
    },
    {
        "id": "9305e2fd.a800e",
        "type": "debug",
        "z": "18b5eed9.ba3b09",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 923.2222900390625,
        "y": 416.3333435058594,
        "wires": []
    },
    {
        "id": "e8b8d0aa.98c8d8",
        "type": "rbe",
        "z": "18b5eed9.ba3b09",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 575,
        "y": 194,
        "wires": [
            [
                "6b546724.aa492"
            ]
        ]
    },
    {
        "id": "40fc6040.57d68",
        "type": "function",
        "z": "18b5eed9.ba3b09",
        "name": "Create Telegram msg",
        "func": "var notify = {};\n\nnotify.payload = {};\nnotify.payload.content = msg.payload;\nnotify.payload.chatId = \"11192536\";\nnotify.payload.type = \"message\";\n\nreturn notify;",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 194,
        "wires": [
            [
                "46a8e7bb.de16c",
                "27bceb42.b4850c"
            ]
        ]
    },
    {
        "id": "3b6fb8e.5bbaec8",
        "type": "debug",
        "z": "18b5eed9.ba3b09",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 575,
        "y": 150,
        "wires": []
    },
    {
        "id": "6b546724.aa492",
        "type": "delay",
        "z": "18b5eed9.ba3b09",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "5",
        "nbRateUnits": "2",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 733.2333984375,
        "y": 193.8333282470703,
        "wires": [
            [
                "40fc6040.57d68"
            ]
        ]
    },
    {
        "id": "e1b6579b.b56d58",
        "type": "telegram bot",
        "z": "",
        "botname": "AirBot",
        "usernames": "[]",
        "chatids": "[]"
    },
    {
        "id": "c1cf7c8d.ce2c38",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "80bcdc23.753798",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/db/aq.db"
    }
]
