node-red/SensorInput.flow
[
    {
        "id": "701a779f.211a18",
        "type": "tab",
        "label": "SensorInput"
    },
    {
        "id": "6df25c63.240e34",
        "type": "serial in",
        "z": "701a779f.211a18",
        "name": "Sensors",
        "serial": "b4141b9a.c8349",
        "x": 169,
        "y": 219,
        "wires": [
            [
                "6db6059f.c4e974",
                "1b0ea87d.7d3558"
            ]
        ]
    },
    {
        "id": "4eb94ecb.d5ae",
        "type": "sqlite",
        "z": "701a779f.211a18",
        "mydb": "80bcdc23.753798",
        "name": "SensorDB",
        "x": 917,
        "y": 268,
        "wires": [
            [
                "87f84797.96f308"
            ]
        ]
    },
    {
        "id": "d132b57b.219b3",
        "type": "inject",
        "z": "701a779f.211a18",
        "name": "Create table",
        "topic": "create table sensors(id INTEGER PRIMARY KEY NOT NULL, temperature REAL, humidity REAL, pressure REAL, mq135 INTEGER, timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL);",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 670.5,
        "y": 227,
        "wires": [
            [
                "4eb94ecb.d5ae"
            ]
        ]
    },
    {
        "id": "9dc65c9a.3d0398",
        "type": "inject",
        "z": "701a779f.211a18",
        "name": "Delete table",
        "topic": "DROP TABLE sensors",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 664.5,
        "y": 175,
        "wires": [
            [
                "4eb94ecb.d5ae"
            ]
        ]
    },
    {
        "id": "87f84797.96f308",
        "type": "debug",
        "z": "701a779f.211a18",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1110,
        "y": 268,
        "wires": []
    },
    {
        "id": "405ea7b3.8860d",
        "type": "function",
        "z": "701a779f.211a18",
        "name": "INSERT BIND",
        "func": "var data = msg.payload;\n\nmsg.topic = \"INSERT INTO sensors (temperature, humidity, pressure, mq135) VALUES (?,?,?,?)\";\nmsg.payload = [data.temperature, data.humidity, data.pressure, data.mq135];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 694.5,
        "y": 317,
        "wires": [
            [
                "a39fcf7.cfba4b",
                "4eb94ecb.d5ae"
            ]
        ]
    },
    {
        "id": "6db6059f.c4e974",
        "type": "function",
        "z": "701a779f.211a18",
        "name": "Sensors to JSON",
        "func": "var sensors = msg.payload.replace(/\\n|\\r/g,\"\").split(\",\");\n\nvar json = {};\njson.counter = sensors[0];\njson.temperature = sensors[1];\njson.humidity = sensors[2];\njson.pressure = sensors[3];\njson.mq135 = sensors[5];\n\nmsg.payload = json;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 279.5,
        "y": 348,
        "wires": [
            [
                "8a4b8f7c.44ba08"
            ]
        ]
    },
    {
        "id": "6fded24.2b96c2c",
        "type": "debug",
        "z": "701a779f.211a18",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 692.5,
        "y": 456,
        "wires": []
    },
    {
        "id": "c8be6f26.4b2258",
        "type": "sqlite",
        "z": "701a779f.211a18",
        "mydb": "80bcdc23.753798",
        "name": "SensorDB",
        "x": 575,
        "y": 617,
        "wires": [
            [
                "529b7a9.428f484"
            ]
        ]
    },
    {
        "id": "a0e52cae.f0b2c8",
        "type": "inject",
        "z": "701a779f.211a18",
        "name": "SELECT *",
        "topic": "SELECT * FROM SENSORS",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 382,
        "y": 617,
        "wires": [
            [
                "c8be6f26.4b2258"
            ]
        ]
    },
    {
        "id": "529b7a9.428f484",
        "type": "debug",
        "z": "701a779f.211a18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 767,
        "y": 617,
        "wires": []
    },
    {
        "id": "a39fcf7.cfba4b",
        "type": "debug",
        "z": "701a779f.211a18",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 921,
        "y": 338,
        "wires": []
    },
    {
        "id": "1b0ea87d.7d3558",
        "type": "debug",
        "z": "701a779f.211a18",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 362,
        "y": 219,
        "wires": []
    },
    {
        "id": "8a4b8f7c.44ba08",
        "type": "delay",
        "z": "701a779f.211a18",
        "name": "Limit messages",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 477.5,
        "y": 348,
        "wires": [
            [
                "6fded24.2b96c2c",
                "405ea7b3.8860d",
                "2cf0e710.2251c"
            ]
        ]
    },
    {
        "id": "2fed0d33.cf037a",
        "type": "sqlite",
        "z": "701a779f.211a18",
        "mydb": "80bcdc23.753798",
        "name": "SensorDB",
        "x": 574,
        "y": 674,
        "wires": [
            [
                "d369ac35.f98f7"
            ]
        ]
    },
    {
        "id": "678e3d7e.abf3dc",
        "type": "inject",
        "z": "701a779f.211a18",
        "name": "SELECT LAST",
        "topic": "SELECT * FROM sensors ORDER BY id DESC LIMIT 1;",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 387,
        "y": 674,
        "wires": [
            [
                "2fed0d33.cf037a"
            ]
        ]
    },
    {
        "id": "d369ac35.f98f7",
        "type": "debug",
        "z": "701a779f.211a18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 766,
        "y": 675,
        "wires": []
    },
    {
        "id": "2cf0e710.2251c",
        "type": "mqtt out",
        "z": "701a779f.211a18",
        "name": "Publish sensor data",
        "topic": "aq-raw",
        "qos": "0",
        "retain": "false",
        "broker": "c1cf7c8d.ce2c38",
        "x": 754.5,
        "y": 392,
        "wires": []
    },
    {
        "id": "b4141b9a.c8349",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "80bcdc23.753798",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/db/aq.db"
    },
    {
        "id": "c1cf7c8d.ce2c38",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]
