node-red/SensorInput.flow
[
    {
        "id": "6df25c63.240e34",
        "type": "serial in",
        "z": "701a779f.211a18",
        "name": "Sensors",
        "serial": "b4141b9a.c8349",
        "x": 155,
        "y": 347,
        "wires": [
            [
                "6db6059f.c4e974",
                "1b0ea87d.7d3558"
            ]
        ]
    },
    {
        "id": "4eb94ecb.d5ae",
        "type": "sqlite",
        "z": "701a779f.211a18",
        "mydb": "80bcdc23.753798",
        "name": "SensorDB",
        "x": 1171,
        "y": 267,
        "wires": [
            [
                "87f84797.96f308"
            ]
        ]
    },
    {
        "id": "d132b57b.219b3",
        "type": "inject",
        "z": "701a779f.211a18",
        "name": "Create table",
        "topic": "create table sensors(id INTEGER PRIMARY KEY NOT NULL, temperature REAL, humidity REAL, pressure REAL, mq135 INTEGER, timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL);",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 924.5,
        "y": 226,
        "wires": [
            [
                "4eb94ecb.d5ae"
            ]
        ]
    },
    {
        "id": "9dc65c9a.3d0398",
        "type": "inject",
        "z": "701a779f.211a18",
        "name": "Delete table",
        "topic": "DROP TABLE sensors",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 918.5,
        "y": 174,
        "wires": [
            [
                "4eb94ecb.d5ae"
            ]
        ]
    },
    {
        "id": "87f84797.96f308",
        "type": "debug",
        "z": "701a779f.211a18",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1364,
        "y": 267,
        "wires": []
    },
    {
        "id": "405ea7b3.8860d",
        "type": "function",
        "z": "701a779f.211a18",
        "name": "INSERT BIND",
        "func": "var data = msg.payload;\n\nmsg.topic = \"INSERT INTO sensors (temperature, humidity, pressure, mq135) VALUES (?,?,?,?)\";\nmsg.payload = [data.temperature, data.humidity, data.pressure, data.mq135];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 948.5,
        "y": 316,
        "wires": [
            [
                "a39fcf7.cfba4b",
                "4eb94ecb.d5ae"
            ]
        ]
    },
    {
        "id": "6db6059f.c4e974",
        "type": "function",
        "z": "701a779f.211a18",
        "name": "Sensors to JSON",
        "func": "var sensors = msg.payload.replace(/\\n|\\r/g,\"\").split(\",\");\n\nvar json = {};\nfor (i=0; i<sensors.length; i++) {\n\tvar fields = sensors[i].split(\"=\");\n\tif (fields[1] !== \"\") {\n\t    json[fields[0]] = fields[1];   \n\t}\n}\n\nmsg.payload = json;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 363.5,
        "y": 347,
        "wires": [
            [
                "4fd6db01.19ced4"
            ]
        ]
    },
    {
        "id": "6fded24.2b96c2c",
        "type": "debug",
        "z": "701a779f.211a18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 946.5,
        "y": 455,
        "wires": []
    },
    {
        "id": "c8be6f26.4b2258",
        "type": "sqlite",
        "z": "701a779f.211a18",
        "mydb": "80bcdc23.753798",
        "name": "SensorDB",
        "x": 511,
        "y": 541,
        "wires": [
            [
                "529b7a9.428f484"
            ]
        ]
    },
    {
        "id": "a0e52cae.f0b2c8",
        "type": "inject",
        "z": "701a779f.211a18",
        "name": "SELECT *",
        "topic": "SELECT * FROM SENSORS",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 318,
        "y": 541,
        "wires": [
            [
                "c8be6f26.4b2258"
            ]
        ]
    },
    {
        "id": "529b7a9.428f484",
        "type": "debug",
        "z": "701a779f.211a18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 703,
        "y": 541,
        "wires": []
    },
    {
        "id": "a39fcf7.cfba4b",
        "type": "debug",
        "z": "701a779f.211a18",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1175,
        "y": 337,
        "wires": []
    },
    {
        "id": "1b0ea87d.7d3558",
        "type": "debug",
        "z": "701a779f.211a18",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 362,
        "y": 287,
        "wires": []
    },
    {
        "id": "8a4b8f7c.44ba08",
        "type": "delay",
        "z": "701a779f.211a18",
        "name": "Limit messages",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 731.5,
        "y": 347,
        "wires": [
            [
                "6fded24.2b96c2c",
                "405ea7b3.8860d",
                "2cf0e710.2251c"
            ]
        ]
    },
    {
        "id": "2fed0d33.cf037a",
        "type": "sqlite",
        "z": "701a779f.211a18",
        "mydb": "80bcdc23.753798",
        "name": "SensorDB",
        "x": 510,
        "y": 598,
        "wires": [
            [
                "d369ac35.f98f7"
            ]
        ]
    },
    {
        "id": "678e3d7e.abf3dc",
        "type": "inject",
        "z": "701a779f.211a18",
        "name": "SELECT LAST",
        "topic": "SELECT * FROM sensors ORDER BY id DESC LIMIT 1;",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 323,
        "y": 598,
        "wires": [
            [
                "2fed0d33.cf037a"
            ]
        ]
    },
    {
        "id": "d369ac35.f98f7",
        "type": "debug",
        "z": "701a779f.211a18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 702,
        "y": 599,
        "wires": []
    },
    {
        "id": "2cf0e710.2251c",
        "type": "mqtt out",
        "z": "701a779f.211a18",
        "name": "Publish sensor data",
        "topic": "aq-raw",
        "qos": "0",
        "retain": "false",
        "broker": "c1cf7c8d.ce2c38",
        "x": 1008.5,
        "y": 391,
        "wires": []
    },
    {
        "id": "4fd6db01.19ced4",
        "type": "function",
        "z": "701a779f.211a18",
        "name": "Filter",
        "func": "var json = msg.payload;\n\n//Hardcoded invalid values, meaning the sensors are currently disabled\nif (\"temperature\" in json && \"pressure\" in json && \"humidity\" in json) {\n    //First case: bme280 not connected\n    //Seconds case: bme280 init failed\n    if ((json.temperature == 187.29 && json.pressure == -104.50 && json.humidity == 100.00) || (json.temperature == 23.78 && json.pressure == 754.50 && json.humidity == 65.886)) {\n        delete json.temperature;\n        delete json.pressure;\n        delete json.humidity;\n    }\n}\n\nif (json.mq135 == 1023) {\n    //MQ135 is currently warming up or disabled\n    delete json.mq135;\n}\n\nif (json.iaqs !== 0) {\n    delete json.iaqs;\n    delete json.tvoc;\n    delete json.co2;\n}\n\nmsg.payload = json;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 551.5,
        "y": 347,
        "wires": [
            [
                "8a4b8f7c.44ba08"
            ]
        ]
    },
    {
        "id": "b4141b9a.c8349",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "80bcdc23.753798",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/db/aq.db"
    },
    {
        "id": "c1cf7c8d.ce2c38",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]